---
layout: default
class: center
title: EthanMcBloxxer
description: A homepage for EthanMcBloxxer, with information, a blog, and some random CC by NC-ND 4-licensed files.
authors:
  - EthanMcBloxxer
---

<main>
	<div>
		<h1 id="title" style="font-style: italic;"><a href="/about">Ethan<wbr>Mc<wbr>Bloxxer</a></h1>
		<p id="motd" onclick="document.getElementById('motd').innerHTML = motds[Math.floor(Math.random() * motds.length)];">C++ &bull; C# &bull; <abbr title="HTML, CSS, SASS, JavaScript, jQuery, and more">Web</abbr> &bull; <abbr title="Roblox's Lua">LuaU</abbr></p>
	</div>
</main>
<footer>
	{% for group in site.footer %}<p>
		{% for link in group %}<a href="{{ link[1] | relative_url }}">{{ link[0] }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}
	</p>
	{% endfor %}
</footer>
<script id="analytics" src="/track.js" defer></script>
<script async>
	const motds = [{% for motd in site.motds %}"{{ motd }}",{% endfor %}];
	document.getElementById("motd").innerHTML = motds[Math.floor(Math.random() * motds.length)];
	
	function giveCookies(cookies) {
		for (i = 0; true; i++) {
			console.log("🍪");
		}
	}
</script>
