h2.title {
	font-family: $monospace;
	font-size: 150%;
	font-weight: 500;
}

h4.subtitle {
	font-size: 125%;
	font-weight: normal;
	font-style: italic;
}

body > ul {
	list-style-type: none;
	& > li {
		margin-bottom: 5rem;
	}
}
