$viewport-4: "only screen and (min-width: 480px)";
$viewport-7: "only screen and (min-width: 768px)";
$viewport-9: "only screen and (min-width: 992px)";
$viewport-12: "only screen and (min-width: 1200px)";